{% load static %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">Partidos Programados <span>| Esta semana</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-calendar-event"></i>
                        </div>
                        <div class="ps-3">
                            <h6>5</h6>
                            <span class="text-success small pt-1 fw-bold">+2</span> <span class="text-muted small pt-2 ps-1">más que la semana pasada</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estadísticas de Jugador</h5>
                    <p>Partidos jugados: 12</p>
                    <p>Victorias: 8</p>
                    <p>Derrotas: 4</p>
                </div>
            </div>
        </div>
    </div>
</section>
