{% load static %}
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"><i class="bi bi-grid"></i><span>Escritorio</span></a></li>
        
        <li class="nav-heading mt-4">Encuentros</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'lista_partidos' %}">
                <i class="bi bi-people"></i><span>Partidos</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#pull-menu" aria-expanded="false">
                <i class="bi bi-person-lines-fill"></i><span>PULL</span> <i class="bi bi-chevron-down ms-1"></i>
            </a>
            <ul id="pull-menu" class="collapse">
                <li><a class="nav-link" href="{% url 'lista_pulls' %}"><i class="bi bi-list-ul"></i> Lista de Pulls</a></li>
                {% if request.user.is_staff %}
    <li><a class="nav-link" href="{% url 'crear_pull' %}"> <i class="bi bi-card-checklist"></i>Crear Pull</a></li>
{% endif %}

            </ul>
        </li>
       <li class="nav-heading mt-4">Convocatorias</li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#convocatorias-submenu" data-bs-toggle="collapse" href="#">
              <i class="bi bi-calendar-event "></i>
              <span>Convocatorias</span>
              <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="convocatorias-submenu" class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'lista_convocatorias' %}">
                  <i class="bi bi-list-ul fs-5"></i><span>Ver Convocatorias</span>
                </a>
              </li>
              {% if request.user.is_superuser %}
              <li>
                <a href="{% url 'crear_convocatoria' %}">
                  <i class="bi bi-calendar-plus fs-5"></i><span>Crear Convocatoria</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          <li class="nav-heading mt-4">Equipos</li>  
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#equipos-submenu" data-bs-toggle="collapse" href="#">
              <i class="bi bi-people-fill"></i>
              <span>Equipos</span>
              <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="equipos-submenu" class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'lista_equipos' %}">
                  <i class="bi bi-list-ul fs-5"></i><span>Ver Equipos</span>
                </a>
              </li>
              {% if request.user.is_superuser %}
              <li>
                <a href="{% url 'crear_equipo' %}">
                  <i class="bi bi-plus-square fs-5"></i><span>Crear Equipo</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          



        <li class="nav-heading mt-4">Varios</li>
        <li class="nav-item"><a class="nav-link collapsed" href="{% url 'faq' %}"><i class="bi bi-question-circle"></i><span>F.A.Q</span></a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="{% url 'contacto' %}"><i class="bi bi-envelope"></i><span>Contacto</span></a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/logout"><i class="bi bi-box-arrow-in-right"></i><span>Salir</span></a></li>
    </ul>
</aside>
