{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-body">

            <h2 class="mt-5 mb-4">
                <i class="bi bi-plus-circle me-2"></i> Crear Partido
            </h2>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha del partido:</label>
                    <input type="date" name="fecha" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="hora" class="form-label">Hora del partido:</label>
                    <input type="time" name="hora" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="lugar" class="form-label">Lugar del partido:</label>
                    <input type="text" name="lugar" class="form-control" placeholder="Ejemplo: Pista 3, Club Pádel City" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-check-circle me-1"></i> Crear Partido
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
