{% extends 'base.html' %}

{% block content %}
    <h2>Crear Partido</h2>
    <form method="post">
        {% csrf_token %}
    
        <label for="fecha">Fecha y hora del partido:</label>
        <input type="datetime-local" name="fecha" required>
    
        <label for="lugar">Lugar del partido:</label>
        <input type="text" name="lugar" placeholder="Ejemplo: Pista 3, Club Pádel City" required>
    
        <button type="submit" class="btn btn-primary">Crear Partido</button>
    </form>
    
{% endblock %}